<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>The Power</string>
	<key>Pages</key>
	<array>
		<string>intro.cutscenepage</string>
		<string>page1.playgroundpage</string>
		<string>page2.playgroundpage</string>
		<string>page3.playgroundpage</string>
		<string>page4.playgroundpage</string>
		<string>page5.playgroundpage</string>
		<string>aboutMe.playgroundpage</string>
	</array>
</dict>
</plist>
